html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  color: #1d1e35;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(to bottom, #af67e9, #6565e7);
}

.container {
  min-height: 100vh;
  padding: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

details {
  border-bottom: 1px solid #e7e7e9;
}

details summary {
  position: relative;
  margin: 1.6rem 0 1.2rem 0;
  padding-right: 2.4rem;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:hover {
  color: #f47c57;
}

details summary:after {
  position: absolute;
  right: 0;
  content: url(../images/icon-arrow-down.svg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

details[open] summary {
  font-weight: 700;
}

details[open] summary:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

details .info {
  margin-bottom: 1rem;
  line-height: 1.5;
  color: #787887;
}

.card-wrapper {
  position: relative;
}

.card-wrapper .cube {
  display: none;
}

@media (min-width: 996px) {
  .card-wrapper .cube {
    display: block;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: -9.2rem;
    -webkit-animation: upAndDown 2s infinite;
            animation: upAndDown 2s infinite;
  }
}

.card {
  position: relative;
  width: 32rem;
  padding: 2.4rem;
  padding-bottom: 4rem;
  border-radius: 2.4rem;
  background-color: #fff;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

@media (min-width: 996px) {
  .card {
    width: 88rem;
    min-height: 51.2rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: -57.6rem 68%;
  }
}

.card__illustration {
  position: relative;
  display: block;
  -webkit-transform: translate(-13px, -132px);
          transform: translate(-13px, -132px);
}

@media (min-width: 996px) {
  .card__illustration {
    width: 50%;
    -webkit-transform: translate(-10rem, 6rem);
            transform: translate(-10rem, 6rem);
  }
}

.card__illustration .cube {
  display: none;
}

@media (min-width: 996px) {
  .card__illustration .cube {
    display: block;
    position: absolute;
    left: -1.6rem;
    top: 12rem;
  }
}

.card__text {
  margin-top: -8rem;
}

@media (min-width: 996px) {
  .card__text {
    width: 50%;
    margin-top: 0;
    padding: 6rem 0 6rem 4rem;
  }
}

.card__text .title {
  margin-bottom: 4rem;
  font-size: 3.2rem;
  text-align: center;
}

@media (min-width: 996px) {
  .card__text .title {
    text-align: left;
  }
}

@media (min-width: 996px) {
  .card__faq {
    padding-right: 4rem;
    max-height: 25rem;
    overflow-y: overlay;
  }
  .card__faq::-webkit-scrollbar {
    width: 5px;
  }
  .card__faq::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .card__faq::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}

footer {
  position: absolute;
  bottom: 2.4rem;
  width: 100%;
  text-align: center;
}

footer a {
  color: #e7e7e9;
}

@-webkit-keyframes upAndDown {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes upAndDown {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=index.css.map */